.promo {
  background-color: #DDDEE3;
  margin: 0 auto;
  padding: 50px 70px 60px;
  display: flex;
}

.promo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 450px;
  width: 100%;
}

.promo__title {
  margin: 0;
  padding: 0;
  max-width: 626px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
}

.promo__image {
  background-image: url('../../images/promo-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  width: 722px;
  height: 244px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .promo {
    padding: 300px 44px 70px;
  }

  .promo__container {
    align-items: center;
    height: 474px;
  }

  .promo__title {
    max-width: 680px;
    text-align: center;
  }

  .promo__image {
    align-self: center;
    width: 680px;
    background-size: contain;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .promo {
    padding: 183px 0 40px;
  }

  .promo__container {
    align-items: center;
    height: 474px;
  }

  .promo__title {
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;   
    text-align: center;
  }

  .promo__image {
    align-self: center;
    width: 680px;
    max-width: 100%;
  }
}
