.header {
  background-color: #DDDEE3;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
}

.header_color {
  background-color: #FAFAFA;
}

.header_visible {
  display: flex;
}

.header__buttons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.header__button-reg {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  margin-right: 30px;
}

.header__button-log {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFF;
  text-decoration: none;
  padding: 8px 20px;
  background-color: #3456F3;
  border-radius: 3px;
}
